files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
      
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
      
        ssl_session_timeout 5m;
      
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
      
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
      
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIF/zCCA+cCFCA+/cErgTeeHjixsHSClBnOJmoBMA0GCSqGSIb3DQEBCwUAMIG7
      MQswCQYDVQQGEwJCUjELMAkGA1UECAwCU1AxFTATBgNVBAcMDFPDg8KjbyBQYXVs
      bzEQMA4GA1UECgwHQ2VydHZldDENMAsGA1UECwwEdGVjaDE0MDIGA1UEAwwrY2Vy
      dHZldC1iYWNrLnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTExMC8GCSqG
      SIb3DQEJARYic2hpbWFkYS5oZW5yaXF1ZUBhbHVuby5pZnNwLmVkdS5icjAeFw0y
      MjExMjgyMjQ5MjdaFw0yMzExMjgyMjQ5MjdaMIG7MQswCQYDVQQGEwJCUjELMAkG
      A1UECAwCU1AxFTATBgNVBAcMDFPDg8KjbyBQYXVsbzEQMA4GA1UECgwHQ2VydHZl
      dDENMAsGA1UECwwEdGVjaDE0MDIGA1UEAwwrY2VydHZldC1iYWNrLnVzLWVhc3Qt
      MS5lbGFzdGljYmVhbnN0YWxrLmNvbTExMC8GCSqGSIb3DQEJARYic2hpbWFkYS5o
      ZW5yaXF1ZUBhbHVuby5pZnNwLmVkdS5icjCCAiIwDQYJKoZIhvcNAQEBBQADggIP
      ADCCAgoCggIBALkHjiODGQ05EgEX6AURSQWW2zjY/o9mYjmPO0D1SShZawwpbayg
      nvTOMbjsXhxFrJ9xnyrrK7mxeFbittePZ/Xykb+YshHwhYnUjGDancDNU6ClMREm
      Zfgbl7qEavxjXjWBwKwp6ADBHpxYlCotoMvKimeUWMHMkoi6HVpmVBC9OMUBYO5y
      PrgCr0Mll4KP7LPliQsMAgilarPQ/RE6qtwus0SDUSFS9+lgrUavl0Lexk2QzcRr
      VFs3Fd8izoeWEg/DosTyRrX+xc6i3tGJA00uryIeGLnimWWA6uzrxzvlzh4XZ1oK
      lmwol/IVJAzo/rXHjaGIn0iDyxRGei+U7U49Ap/8GsitHfLgFIHK6u1+IXF3jXI/
      Vy+e/sB63PcfRsUULnyBdydDZ/Ixd28Hn7GXeMA8z5pNsCrjmG1oofH4XIIVWj32
      ag5ZfIYsV/ysFi2hVn3OD6t8EA2ZpdCjIbl7AnhRk5uVv1HfvRqAHXtH80w/HnY0
      p8uFP6hntp3kAv4y6b2fZZKYn7FFHZmZ8fXP5oAntiMELCamsWxS3xVN5ysfelIP
      jhogjnk3Gv9ZXdDCetWODsFnTkji+LIiXjlAD5eQrc6W6yDdMLNhXTY8GLiJd3Hp
      f91XBGWfaiuSp24nnvpE98BTG5eJzmjYXt+kwEDDaBaTIcP7g2CWzxDpAgMBAAEw
      DQYJKoZIhvcNAQELBQADggIBAA6oXT7pBBnYxGaIUA0aPKrDr+85tTHHqkime38I
      PDndqcXdQy5cuLfwAp+itVQqhcvM5Hk+tYuokUqro4LbWj6Iy34X5fMjoq9qSy1y
      1I7Izz3GHeGsLIBCYyJxZF8YTD3XsUe7AHC5uIkbRF+ZtJnG380uslGSBHijt8KP
      viPkQ+WRsiF4tW9XkeSf2p4VHnxGECdwtp1BjPN787Fg5/ujWXuWJ+4Yrx6f4akN
      WjE0yfJzwuRlfKideg4u7BHjP+yNvhPQlEFal3rSJXyN7khcF7zac3mMTbwKrqpK
      /0rOFs0vyAjI5VeNXAb8Y9Q7s5mkzHsCz4Q0BrDYUKivPS491erUOAGL/pm3vGW1
      jJrJiJQtvFfZlXVrhjURanWOsY6ZUIMOXcg9Ou4BRvoqYGI3I3ufyTyBs01MZj74
      /41fiYGeRmqyxcV6KAfv+bquLO5gvFVM/uhI7qlmr+YpoHXYveyH0LSxuDACuLGN
      OHKK/G0Rl7BJc7gK/pxeKvXVV0fTKcF9UqTx/1Ypkicu77I+FljpHDcjzlz6jbbn
      VDU3Sy2aB8hUME3269ohAKaUc+tcsld6H+/8FNtqE/Alv69j45asuy7qNyYqtP9n
      sq2KXWyeBpUiCLm7aPR3yjo1TWBh1Q1anF1Zz1TmwVAzboU3kuNTTFc59J/Ij0IG
      3qS9
      -----END CERTIFICATE-----

/etc/pki/tls/certs/server.key:
  mode: "000400"
  owner: root
  group: root
  content: |
    -----BEGIN RSA PRIVATE KEY-----
    MIIJJwIBAAKCAgEAuQeOI4MZDTkSARfoBRFJBZbbONj+j2ZiOY87QPVJKFlrDClt
    rKCe9M4xuOxeHEWsn3GfKusrubF4VuK2149n9fKRv5iyEfCFidSMYNqdwM1ToKUx
    ESZl+BuXuoRq/GNeNYHArCnoAMEenFiUKi2gy8qKZ5RYwcySiLodWmZUEL04xQFg
    7nI+uAKvQyWXgo/ss+WJCwwCCKVqs9D9ETqq3C6zRINRIVL36WCtRq+XQt7GTZDN
    xGtUWzcV3yLOh5YSD8OixPJGtf7FzqLe0YkDTS6vIh4YueKZZYDq7OvHO+XOHhdn
    WgqWbCiX8hUkDOj+tceNoYifSIPLFEZ6L5TtTj0Cn/wayK0d8uAUgcrq7X4hcXeN
    cj9XL57+wHrc9x9GxRQufIF3J0Nn8jF3bwefsZd4wDzPmk2wKuOYbWih8fhcghVa
    PfZqDll8hixX/KwWLaFWfc4Pq3wQDZml0KMhuXsCeFGTm5W/Ud+9GoAde0fzTD8e
    djSny4U/qGe2neQC/jLpvZ9lkpifsUUdmZnx9c/mgCe2IwQsJqaxbFLfFU3nKx96
    Ug+OGiCOeTca/1ld0MJ61Y4OwWdOSOL4siJeOUAPl5CtzpbrIN0ws2FdNjwYuIl3
    cel/3VcEZZ9qK5Knbiee+kT3wFMbl4nOaNhe36TAQMNoFpMhw/uDYJbPEOkCAwEA
    AQKCAgAZoqpW0TsPUfDkpeNHkHWFiLkmzym1xIGnZ+jVvyY7qOfj73l6iWZ8lHTf
    IiCH2j9od92NnLeaKrR5lT+v7faBZPI8kXNaePCHgCNS5/cjV09W2oxJzAAkt+31
    sZMBFONglnGTaNrz/82166/biCbXFWDHqQ4DC8zhlKesdrD/ALh00xQS9VErPXP6
    4aJ0PGyXIB40oZ1GhWSbNUFaub4ic3Xy8B61d0FR3Esll/5lDWh8JqvbouM1IBSv
    rarfrjMibACJOOgDHyFY18f3T/xdHTK2j2TtnC+UmJ/z41bfPZ+pG6T+HKlqotUq
    fTNZdo6TsOo2jy9CZMAmNv2GyiN2jxTGWgydCjlSJM9Qm8zsxr7+I18FFkaRq582
    xi+hWgKN2SDelmmwikYe8ckP8zJp5eEoH/kOuGpVOMccdZLG3A0ULUI056u/vZ8g
    gmR0Qk2cH2EhT6Sc5rZ0YW7Ux+mxC/+OHGLyAUqD/2BdIQazlmWeXXFdb7wGz9/W
    /oqfsUe21Q+A4DFCQgwjEA6Nul03TAy4TZPr4twNvgEiPWFQWzNTymr3VK2goPbu
    BqCu7Jvnkc0noeCg+lNNZBas5v05NIVrzzMXQLwG9CQj3s5yoVE50djiMCd/Yzp5
    AbF5t/qUo7Aboh0cE3GfSllfHCHH04viA7Clkzg45I8OLpGT4QKCAQEA6j2Qt5ZQ
    n7Df9pHuAaU74Aj6kzgWt4eJUmRG4LTpLyzXcIdr5wXlm91sCh3Ke1dmVH0GkqCZ
    dPw3aeG8f/MZNKF/TIQOXbY5v3zhtlepmi3hX0M51nG3HFvac7h7pu7pjvBwdko6
    a3funKQGITSjzVvLU79LgT6Uz1z5RezQmAKLbYoYIX299LnsmLvZjUZ1J44kdwcB
    iO/F1Fu7+eIEl81Nu/s+WRuPp5ALMXazTtHZgH0US58o8EwD4peZd2k4/j6sWnAo
    MY+ehePwMb9WMpt7+Ou4VnzZgRZq7pDVtdRTWy/ml3LOXyFFakTgqQL+r7jQ0TuU
    yyDhPDd2E+DKowKCAQEAyje2NVJsIYvZ5olqpe4p9UcEBR5PbVGRfJ7rIKEwLOPM
    1KIcWicUbr120aQGitzJyY0JQJeyFnlf4KsKUglko5deEQ72tG0/7M7AKSySCJtt
    8zXBWgQAO/jn0UFJhHlh6ya4zX+Om2C50flgHdfLm0M9KvwRojpXFG3hebUZ38EQ
    v1SnFEmmiOBvv4IQ/w3LuvPdiuXl+GsM29bsKRJUs0pi+mzCEsiNOAw3gfTjPIoL
    K8EKlzxQqA7oivpxYAOoBIFKQ5ROGQdjNdTE6Eb/ZS36175cKsKFOZIPjLDdmmQ6
    pmhUWSR14nMjjDvmwtgLqV1w3Dhs6+2ZFTuZYVSbAwKCAQBGNgX2wXuRIjc/dSZe
    H+T+ljJlhl5ozJuAssX7/L4YgdxhwnW5Xa8hNRF5Rsy2g9AMax1ZPgJBaohBmIQj
    5f4cJHw/tyWHOWO93fTZ7xTLPg1bvI7NlHBKc83a+eU2eE5RpghPrJguNlizYwbj
    VR/0IhukEqbTKqr4LOoa54zuw3R/dPEeuM4DWOduMIBZNFFRde3AL71qClTF/mkt
    0W2HAubV/c0GcJhypV51iRrd+VC0jslSkXZ38JEJjl9Vx5hpvOd0hEHH+UCO6W/J
    uYxgxvI1/pHWer3HT6zlrUwhoG8L2iPIKYVqRlLEM7kTb+5fRYpx7OYArO5WWllu
    Q+b5AoIBACsHKb002Y9Vy7rTOJ8wCzuGreNM7MetGJD028EoqzCSFE6WZAQG1sEt
    jW/UQBQiIMnDOdnFrX48u1r56gtEtmZc2gY1Med4a6a+44KfWj98myuqH4dA3K/m
    KaWMB9GpZl178sy/PJ/xN/jm4D3ZYhiaeRSBaFsloMvXCag1Edlbom2j3J1jgo0T
    fJO6YFV1IQmZxGU+v+1ZEfZhSAUBQoaX6HGy3KTUicAIUXNUoVmLYg8gV1mQ2vS3
    n2GbIq60eHbk7+FrWCbZPJICwRdPrB5iZ0Kq3b+3flOesbJVHAIzG4u3HWOOb4sM
    xt6bDGIfSHP0TwR8+ShGeVFcSim8r/MCggEAA673FhMIkj5foJoS5OBKzXxcDLB8
    IRQ1xHMDcpO2LBPEe/gG/YXdb8gXtTY0p+RMXKr0TUztkt4913IkjlSmkEeFKaLT
    niAgaW6mwm/SuxF4N3LWOl6LOT/RMhQ+zeujV7SnwH4P3VXm1LISzeiA+1zZPiRX
    hD81EB2W7B1yvkR9DBaG4OVPZHNLTgJhr+d8WnM8HHlzEmuyiQaIx3u9VufBcAMp
    FwbfdaG60U7oOI3sViK76yuelBI2o6ar0mawfUdNrrl56XRNm/D9EaHnqMu7esNX
    A8v1321Sa671IK72lUpTi9AlmW9ZBq/B3xXUuNL2+6+q2VGod+7o/UDzkw==
    -----END RSA PRIVATE KEY-----
